@import url("./_fonts.css");
@import url("./_formatted-text.css");
@import url("./_reset.css");
@import url("./_variables.css");

@view-transition {
  navigation: auto;
}

::view-transition-old(page),
::view-transition-new(page) {
  animation-duration: 100ms;
}

.page {
  display: grid;
  grid-template-areas: "navigation" "main" "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  view-transition-name: page;
}

.page-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
  grid-area: footer;
  height: var(--height-page-footer);
  justify-content: center;
}

.page-footer a {
  text-decoration: none;
}

.page-main {
  display: flex;
  grid-area: main;
  justify-content: center;
}

.page-navigation {
  background-color: white;
  border-bottom: 4px solid transparent;
  display: flex;
  flex-direction: row;
  grid-area: navigation;
  height: var(--height-page-navigation);
  justify-content: space-between;
  top: 0;
  z-index: var(--z-index-primary-navigation);

  @media (max-width: 900px) {
    position: fixed;
    width: 100%;
  }
  @media (min-width: 900px) {
    padding-right: var(--spacing-base);
    position: sticky;
  }
}

.page-navigation__link {
  align-items: center;
  display: inline-flex;
  padding: var(--spacing-base);
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  img {
    height: 30px;
    width: 30px;
  }
}

.page-navigation__link.page-navigation__link--site-name {
  font-weight: bold;

  @media (max-width: 900px) {
    padding: var(--spacing-base);
  }
  @media (min-width: 900px) {
    padding: var(--spacing-base) var(--spacing-2x);
  }
}

.page-navigation__track {
  display: flex;
}
